.extra-wrapper {
  flex-flow: row wrap;
  justify-content: center;
}
.section-container {
  padding: 5%;
}
.intro-heading {
  font-weight: 500;
  font-size: 3rem;
}

@media only screen and (min-width: 360px) and (max-width: 700px) {
  .intro-heading {
    font-size: 2rem;
    padding-top: 60%;
  }
  .skillsList {
    margin-top: 20%;
  }
  .icon-container {
    justify-content: space-around;
  }
}
